$Fuente1: 'Mulish', sans-serif;
$color-claro: #ffffff;
$color-primario: #8f57fd;
$color-secundario: #21c08b;


@mixin header-properties{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@function get-opacity($color, $amount) {
    @return rgba($color, $amount);
  }
* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-primario;
    font-family: $Fuente1;
}