.login {
    background: linear-gradient($color-secundario, $color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(80vh - 200px);
    min-width: 30%;
    &__container {
        background-color: get-opacity($color-claro, .1);
        border: 2px solid $color-claro;
        border-radius: 40px;
        color: $color-claro;
        padding: 60px 68px 40px;
        min-height: 700px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__container--form{
        display: flex;
        flex-direction: column;
    }
    &__container--form label{
        font-size: 14px;
    }
    &__container--remember-me {
        color: $color-claro;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        span {
            margin: 0px 6px;
            font-size: 16px;
        }
    }
    &__container--remember-me a {
        color: $color-claro;
        font-size: 14px;
        text-decoration: none;
    }
    &__container--remember-me a:hover {
        text-decoration: underline;
    }
    &__container--social-media > div{
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    &__container--social-media > div > img{
        width: 30px;
        margin-right: 10px;
    }
    &__container--register {
        font-size: 14px;
    }
    &__container--register a {
        font-size: 17px;
        text-decoration: none;
        color: $color-claro;
        margin-left: 5px;
        font-weight: bold;
    }
    &__container--register a:hover {
        text-decoration: underline;
    }
}
.input__login {
    background-color: transparent;
    border-bottom: 2px solid $color-claro;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 16px;
    font-family: $Fuente1;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    color: $color-claro;
    height: 50px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: get-opacity($color-claro, 0.2);
    border: none;
    border-radius: 25px;
    color: $color-claro;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: $Fuente1;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: $color-primario;
    a {
        color: $color-claro;
        cursor: pointer;
        font-size: 14px;
        padding-left: 30px;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}