extend componentes/head.pug
block contenidos
    body
        +header('verde')
        section.log-404
            .log-404__container
                div(class="text animated pulse") 404 not Found
                +boton('javascript:history.back()', 'Atrás')
        +footer
        